body {
	background-color: lightskyblue;
}

img{
	width: 300px;
	border: 15px black;
	border-radius: 50%;
}

img:hover {
	border:25px black;
}

h1{
	color: Navy;
	text-decoration: underline;
	font-size: 100px;
}

ul{
	list-style-type: none;
	background-color:steelblue;
		width: 200px;
	margin: 0;
	padding: 0;
}

li a{
	display: block;
	text-decoration: none;
	color: hotpink;
	padding: 8px 16px;
}

li a:hover{
	background-color:aliceblue;
	color: mediumslateblue;
}

